@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #131313; }

body {
  background-color: #ecf2f7; }

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #110845; }

h2 {
  font-size: 2.5rem;
  font-weight: 500; }

h3 {
  font-size: 2rem;
  font-weight: 500; }

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem; }

h5 {
  font-size: 1.4rem;
  font-weight: 400; }

h6 {
  font-size: 1rem;
  font-weight: 300; }

p {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

i {
  font-size: 2rem; }

button {
  border: none;
  padding: 1rem 2rem;
  background-color: #63a4e0;
  color: white;
  font-size: 1rem;
  font-weight: 500; }

header {
  overflow: hidden; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 1rem 0;
  align-items: center; }
  .nav-links {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem; }
    .nav-links li {
      font-weight: 300;
      font-size: 1rem; }
  .nav-logo {
    color: #63a4e0;
    font-weight: 400;
    font-size: 2rem; }

.landing {
  height: 80vh;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .landing-image {
    position: absolute;
    width: 800px;
    left: 300px;
    bottom: -150px;
    z-index: 1;
    opacity: 1;
    filter: brightness(110%); }
  .landing-icons {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding-bottom: 3rem; }
    .landing-icons i {
      color: white;
      font-size: 2rem; }
  .landing-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    width: 40%; }
  .landing::after {
    content: "";
    width: 800px;
    position: absolute;
    height: 800px;
    background-color: #63a4e0;
    bottom: -300px;
    right: -400px;
    border-radius: 1000px; }

.icons-box {
  width: 100%;
  margin: auto;
  opacity: 0.3;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: white; }

.icon {
  width: 30px;
  filter: grayscale(100%); }

.icon2 {
  width: 50px;
  filter: grayscale(100%); }

.icon3 {
  width: 100px;
  filter: grayscale(100%); }

.about {
  padding: 3rem 0;
  background: linear-gradient(to right, rgba(237, 247, 248, 0.8), rgba(241, 248, 248, 0.8)), url(/bg.svg); }
  .about-container {
    display: flex;
    width: 1100px;
    margin: auto;
    gap: 4rem; }
  .about-years {
    display: flex;
    flex-direction: column;
    gap: 0rem; }
    .about-years h1 {
      color: #63a4e0; }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
  .about-boxes {
    display: flex;
    gap: 2rem;
    width: 100%; }
  .about-box {
    width: 250px;
    height: 250px;
    background-color: #f6f6f8;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    transition: all ease 0.3s;
    cursor: pointer; }
    .about-box:first-child {
      background-color: #63a4e0; }
      .about-box:first-child h4,
      .about-box:first-child h5,
      .about-box:first-child h6,
      .about-box:first-child i {
        color: white; }
    .about-box i {
      font-size: 2rem; }
    .about-box:hover {
      background-color: #63a4e0; }
      .about-box:hover h4,
      .about-box:hover h5,
      .about-box:hover i {
        color: white; }

.skills {
  background-color: white;
  padding: 3rem; }
  .skills-container {
    width: 1100px;
    padding: 2rem 0;
    margin: auto;
    display: flex;
    flex-direction: column; }
  .skills-boxes {
    display: flex;
    gap: 3rem;
    margin-top: 2rem; }
  .skills-box {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f8;
    border-radius: 5px;
    padding: 2rem; }
    .skills-box p,
    .skills-box h5,
    .skills-box i {
      text-align: center; }
    .skills-box i {
      color: #63a4e0;
      font-size: 4rem; }

.hide {
  display: none; }

.blue {
  color: #63a4e0; }

.projects {
  background-color: #f6f6f8;
  padding: 2rem; }
  .projects-container {
    width: 1100px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .projects-container h6 {
      width: 500px;
      margin: auto; }
  .projects button {
    align-self: center; }
  .projects-boxes {
    display: flex;
    gap: 2rem;
    margin: 2rem 0; }
  .projects-box {
    border-radius: 5px;
    overflow: hidden; }
    .projects-box img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

.bio {
  padding: 4rem;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/bg.svg); }
  .bio-container {
    width: 1100px;
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between; }
  .bio-boxes {
    margin-top: 4rem;
    display: flex; }
  .bio-text {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .bio-subtitle {
    width: 40%; }
    .bio-subtitle h3 {
      width: 10%; }

.photo {
  height: 500px;
  overflow: hidden; }
  .photo img {
    width: 100%;
    object-fit: cover;
    transform: translateY(-400px);
    opacity: 0.7; }

.footer {
  background-color: #63a4e0;
  height: 300px; }
